<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FullTeam</title>
    <link th:href="@{css/design.css}" rel="stylesheet">

</head>
<body>
<h1> I Work! </h1>

<div class="card-container">
    <a class="link-card" href="/teams/role_play_game"><div class="card">Role Play Game</div></a>
    <a class="link-card" href="/teams/board_game"><div class="card">Board Game</div></a>
    <a class="link-card" href="/teams/online_game"><div class="card">Online Game</div></a>
</div>


</body>
</html>